@import url(//db.onlinewebfonts.com/c/51ba22ae06790efd464bde752a2cd9d1?family=Flexo);

/* === Global === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Flexo";
    background-color: #FFFFFF;
    transition: background 0.2s linear;
}

body.dark {
    background-color: #0D1117;
}

/* === Estilização geral === */
.title {
    text-align: center;
    padding: 60px 0 0 0;
    margin: 0 0 30px 0;
}

.title.white {
    color: #BDC5CC;    
}

.container {
    width: 65%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin: 0 auto;
}

.card-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: ease 0.2s;
    padding: 40px 0 30px 0;
    margin: 0 auto;
}

.card-container:hover {
    transform: translate(0, -8px);
}

.card {
    background-color: #F2F2F2;
    width: 200px;
    height: 190px;
    border-radius: 3px;
    margin: 0 0 5px 0;
    display: flex;
    align-items: center;
}

.card-img {
    width: 75%;
    margin: 0 auto;
}

.card-details {
    padding: 0 20px;
}

.pokemon-id {
    margin: 0 0 15px 0;
    color: #919191;
    font-weight: 600;
    font-size: 14px;
}

.pokemon-name {
    color: #313131;
    font-size: 24px;
    font-weight: 600;
}

.pokemon-name.white {
    color: #BDC5CC;
}


/* === Dark Mode Style === */
.label {
    width: 50px;
    height: 22px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    margin-left: 90%;
    margin-bottom: 80px;
    cursor: pointer;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.ball {
    width: 19px;
    height: 18px;
    position: absolute;
    background-color: #fff;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.checkbox {
    opacity: 0;
    position: absolute;
}







